<div class="contenedor" >
  <div class="col-lg-3 p-vigentes">
    <app-promociones></app-promociones>
  </div>
  <div class="col-lg-6">
    <div class="col-lg-6">
      <h5>
        <span>
            <i class="fa fa-sliders fa-lg-4"></i>
            FILTORS
        </span>
      </h5>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <select name="" id=""  class="form-control">
          <option [value]="categoria.cod_categoria" *ngFor="let categoria of listaCategoria">{{categoria.nombre_categoria}}</option>
        </select>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-6">
        <h4 class="text-center">seleccione su pedido</h4>
        <div class="prueba" *ngFor="let productCategory of listaProductCategory; let i = index">
          <ul> {{productCategory.nombre_categoria}}
            <li>{{productCategory.nombre_producto}} | {{productCategory.precio}}
              <input type="checkbox" name="" id="chkInclud"  #elemCheck [checked]="true" [value]="productCategory.cod_producto" [(ngModel)]="addProduct[i]" (change)='addItem(productCategory,elemCheck.checked)'>
            </li>
          </ul>
        </div>
        <table class="table table-bordered">
          <thead>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaAdd">
              <td>{{item.nombre_producto}}</td>
              <td><input type="number"></td>
              <td>{{item.precio | number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="domicilio">Envio a domicilio</label>
          <input type="radio" name="" id="domicilio">
        </div>
        <div class="form-group">
          <label for="recojo">Recojo en Tienda</label>
          <input type="radio" name="" id="recojo">
        </div>
      </div>
      <div class="col-lg-6 hidden">
        <div class="form-group col-lg-6">
          <label for="domicilio">Envio domicilio</label>
          <input type="checkbox" id='domicilio'>
        </div>
        <div class="form-group col-lg-6">
          <label for="gratis">Recojo Tienda</label>
          <input type="checkbox" id="gratis">
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <div class="form-group">
              <select name="" id="" class="form-control">
                <option value="">chorrillos</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>

      <div class="col-lg-6 form-ingreso">
        <div class="form-group">
          <label for="">Nombre</label>
          <input type="text" name="" placeholder="Nombre" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Apellido</label>
          <input type="text" name="" placeholder="Apellido" class="form-control">
        </div>
        <div class="form-group col-lg-6">
          <label for="">Correo</label>
          <input type="email" name="" id="" placeholder="Correo" class="form-control">
        </div>
        <div class="form-group col-lg-6">
          <label for="">Celular</label>
          <input type="text" name="" id="" placeholder="Celular" class="form-control" maxlength="9" minlength="7">
        </div>
        <div class="form-group col-lg-6">
          <label for="">DNI</label>
          <input type="number" name="" id="" class="form-control" maxlength="8" minlength="8">
        </div>
        <div class="form-group col-lg-6">
          <label for="">Vaucher</label>
          <!-- <i class="fa fa-camera-retro"></i> -->
          <input type="file" name="" id="">
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-primary">COMPRAR</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="col-lg-12" *ngFor="let products of listaProducts">
      <div class="col-lg-4">
        <img [src]="products.url" class="img-responsive">
      </div>
      <div class="col-lg-8">
        {{products.desc_producto | slice:0:30}}
      </div>
    </div>
  </div>
</div>
