<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse subcontainer-menu">
    <ul class="nav navbar-nav col-lg-4">
      <li>
        <a href="#" [scrollTo]="'#arandano'" [scrollDuration]="1000" [scrollOffset]="-10">Arandanos</a>
      </li>
      <li>
        <a href="#" [scrollTo]="'#frambueza'" [scrollOffset]="-50">Frambuezas</a>
      </li>
      <li>
        <a href="#" [scrollTo]="'#aguaymanto'" [scrollOffset]="-50">Aguaymanto</a>
      </li>
    </ul>
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header col-lg-4">
      <div class="title">
        <a class="navbar-brand"  class="" (click)="scrollToTop(top)">
          <div class="berrygood"></div>
        </a>
      </div>
    </div>
    <ul class="nav navbar-nav col-lg-4">
        <li>
          <a [routerLink]="['/productos']">Productos</a></li>
        <li>
          <a data-toggle="modal" data-target="#registerModalContent">
            <i class="fa fa-user"></i> REGISTRARTE</a>
        </li>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- modal -->
<div class="modal fade" id="registerModalContent" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrarse</h4>
      </div>
      <div class="modal-body">
        <div class="form-group col-lg-6">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" class="form-control" name="nombre" [(ngModel)]="addCliente.nombre">
        </div>
        <div class="form-group col-lg-6">
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" class="form-control" name="apellidos" [(ngModel)]="addCliente.apellidos">
        </div>
        <div class="form-group col-lg-6">
          <label for="correo">Email</label>
          <input type="email" id="correo" class="form-control" name="correo" [(ngModel)]="addCliente.correo">
        </div>
        <div class="form-group col-lg-6">
          <label for="pass">Password</label>
          <input type="password"  id="pass" class="form-control" name="password" [(ngModel)]="addCliente.password">
        </div>
        <div class="form-group col-lg-6">
          <label for="celular">Celular</label>
          <input type="tel" id="celular" class="form-control" name="celular" [(ngModel)]="addCliente.celular">
        </div>
        <div class="form-group col-lg-6">
          <label for="dni">DNI</label>
          <input type="number" id="dni" class="form-control" name="dni" [(ngModel)]="addCliente.dni">
        </div>
        <div class="form-group col-lg-6">
          <label for="direccion">Direccion</label>
          <input type="text" placeholder="" id="direccion" class="form-control" name="direccion" [(ngModel)]="addCliente.direccion">
        </div>
        <div class="form-group col-lg-6" >
          <label for="">Distrito</label>
          <select name="" id="" class="form-control" name="distrito" [(ngModel)]="addCliente.distrito">
            <option *ngFor="let distrito of listaDistrito" [value]="distrito.cod_distrito">{{distrito.nombre_distrito}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)='postCliente()'>Guardar</button>
      </div>
    </div>
  </div>
</div>
<h1 class="alert"> {{ errorMessage.resp }} hola</h1>
<!-- modal -->
<section #top class="login-page">
  <div class="col-lg-12 login">
    <div class="col-lg-8"></div>
    <div class="col-lg-4 inicio-sesion">
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn berrygood-btn">INICIAR SESIÓN</button>
      </div>
    </div>
    <div class="flecha-down">
      <a [scrollTo]="'#arandano'">
          <div class="svg"></div>
      </a>
    </div>
  </div>
</section>
<section class="arandanos-page" id="arandano">
  <div class="col-lg-12 arandano">
      <div class="col-lg-8"></div>
      <div class="col-lg-4 arandano-texto" >
        <div class="col-lg-8">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo reiciendis adipisci delectus vero quis cumque
                recusandae eligendi nostrum amet totam placeat,
                necessitatibus quod dignissimos alias impedit exercitationem,
                itaque, sed modi.
                Lorem ipsum dolor sit,
                amet consectetur adipisicing elit.
                Consectetur,
                dolore repudiandae fugiat quaerat,
                ut maiores asperiores in sint nihil
                quas error ab nulla corporis quia est
                nesciunt impedit ducimus iusto.
              </p>
              <button class="btn btn-default">COMPRAR</button>
            </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="flecha-down">
        <a [scrollTo]="'#frambueza'">
            <div class="svg"></div>
        </a>
      </div>
  </div>
</section>
<section class="frambuesas-page" id="frambueza" #frambueza>
    <div class="col-lg-12 frambuesa" >
        <div class="col-lg-8"></div>
        <div class="col-lg-4 frambuesa-texto">
          <div class="col-lg-8">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nemo reiciendis adipisci delectus vero quis cumque
                  recusandae eligendi nostrum amet totam placeat,
                  necessitatibus quod dignissimos alias impedit exercitationem,
                  itaque, sed modi.
                  Lorem ipsum dolor sit,
                  amet consectetur adipisicing elit.
                  Consectetur,
                  dolore repudiandae fugiat quaerat,
                  ut maiores asperiores in sint nihil
                  quas error ab nulla corporis quia est
                  nesciunt impedit ducimus iusto.
                </p>
                <button class="btn btn-default">COMPRAR</button>
              </div>
          <div class="col-lg-4"></div>
        </div>
        <div class="flecha-down">
          <a [scrollTo]="'#aguaymanto'">
              <div class="svg"></div>
          </a>
        </div>
    </div>
</section>
<section class="aguaymanto-page" id="aguaymanto" #aguaymanto>
    <div class="col-lg-12 aguaymanto" >
        <div class="col-lg-8"></div>
        <div class="col-lg-4 aguaymanto-texto">
          <div class="col-lg-8">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nemo reiciendis adipisci delectus vero quis cumque
                  recusandae eligendi nostrum amet totam placeat,
                  necessitatibus quod dignissimos alias impedit exercitationem,
                  itaque, sed modi.
                  Lorem ipsum dolor sit,
                  amet consectetur adipisicing elit.
                  Consectetur,
                  dolore repudiandae fugiat quaerat,
                  ut maiores asperiores in sint nihil
                  quas error ab nulla corporis quia est
                  nesciunt impedit ducimus iusto.
                </p>
                <button class="btn btn-default">COMPRAR</button>
              </div>
          <div class="col-lg-4"></div>
        </div>
        <div class="flecha-down">
          <a (click)="scrollToTop(top)">
              <div class="svg up"></div>
          </a>
        </div>
    </div>
</section>
