<section class="arandanos-page">
  <div class="col-lg-12 arandano">
      <div class="col-lg-8"></div>
      <div class="col-lg-4 arandano-texto">
        <div class="col-lg-8">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo reiciendis adipisci delectus vero quis cumque
                recusandae eligendi nostrum amet totam placeat,
                necessitatibus quod dignissimos alias impedit exercitationem,
                itaque, sed modi.
                Lorem ipsum dolor sit,
                amet consectetur adipisicing elit.
                Consectetur,
                dolore repudiandae fugiat quaerat,
                ut maiores asperiores in sint nihil
                quas error ab nulla corporis quia est
                nesciunt impedit ducimus iusto.
              </p>
              <button class="btn btn-default">COMPRAR</button>
            </div>
        <div class="col-lg-4"></div>
      </div>
  </div>
</section>
<section class="frambuesas-page">
    <div class="col-lg-12 frambuesa">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 frambuesa-texto">
          <div class="col-lg-8">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nemo reiciendis adipisci delectus vero quis cumque
                  recusandae eligendi nostrum amet totam placeat,
                  necessitatibus quod dignissimos alias impedit exercitationem,
                  itaque, sed modi.
                  Lorem ipsum dolor sit,
                  amet consectetur adipisicing elit.
                  Consectetur,
                  dolore repudiandae fugiat quaerat,
                  ut maiores asperiores in sint nihil
                  quas error ab nulla corporis quia est
                  nesciunt impedit ducimus iusto.
                </p>
                <button class="btn btn-default">COMPRAR</button>
              </div>
          <div class="col-lg-4"></div>
        </div>
    </div>
</section>
<section class="aguaymanto-page">
    <div class="col-lg-12 aguaymanto">
        <div class="col-lg-8"></div>
        <div class="col-lg-4 aguaymanto-texto">
          <div class="col-lg-8">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nemo reiciendis adipisci delectus vero quis cumque
                  recusandae eligendi nostrum amet totam placeat,
                  necessitatibus quod dignissimos alias impedit exercitationem,
                  itaque, sed modi.
                  Lorem ipsum dolor sit,
                  amet consectetur adipisicing elit.
                  Consectetur,
                  dolore repudiandae fugiat quaerat,
                  ut maiores asperiores in sint nihil
                  quas error ab nulla corporis quia est
                  nesciunt impedit ducimus iusto.
                </p>
                <button class="btn btn-default">COMPRAR</button>
              </div>
          <div class="col-lg-4"></div>
        </div>
    </div>
</section>
