$menu-color-fondo : rgba(51, 51, 51, .8);
.navbar
  margin: 0
  background: $menu-color-fondo
  border: none
  height: 100px
  display: flex;
  justify-content: center;
  align-items: center;

  .subcontainer-menu
    width: 90%

    li
      a
        color: #ffffff

    .berrygood
      background: url('../../assets/imagenes/black.svg')
      height: 90px
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      margin: auto
      width: 205px

.login-page

  position: relative
  display: inline-block
  width: 100%

  .login
    background: url('../../assets/imagenes/web-berry.png')
    height: 650px
    background-size: cover
    background-position: 50% 100%
    background-repeat: no-repeat
    padding: 0
    display: flex
    align-items: center

    .inicio-sesion
      .form-group
        width: 70%
    .flecha-down
      position: absolute
      width: 100%
      text-align: center
      font-size: 10em
      bottom: 20%
      .svg
        background: url('../../assets/imagenes/flecha-negra.svg')
        background-size: auto
        background-position: 50% 100%
        background-repeat: no-repeat
        height: 50px
        padding: 0

.arandanos-page

  position: relative
  display: inline-block

  .arandano
    background: url('../../assets/imagenes/1.png')
    height: 650px
    background-size: cover
    background-position: 50% 100%
    background-repeat: no-repeat
    padding: 0

    .arandano-texto
      background: rgba(58, 52, 107, 0.9)
      color: #ffffff
      font-size: 11pt
      height: 100%
      padding-top: 2%

      button
        background: transparent
        color: #fff
        width: 70%

.frambuesas-page
  position: relative
  display: inline-block

  .frambuesa
    background: url('../../assets/imagenes/2.png')
    height: 650px
    background-size: cover
    background-position: 50% 100%
    background-repeat: no-repeat
    padding: 0

    .frambuesa-texto
      background: rgba(255, 55, 96, 0.9)
      color: #ffffff
      font-size: 11pt
      height: 100%
      padding-top: 2%

      button
        background: transparent
        color: #fff
        width: 70%

.aguaymanto-page
  position: relative
  display: inline-block

  .aguaymanto
    background: url('../../assets/imagenes/3.png')
    height: 650px
    background-size: cover
    background-position: 50% 100%
    background-repeat: no-repeat
    padding: 0

    .aguaymanto-texto
      background: rgba(255, 167, 0, 0.9)
      color: #ffffff
      font-size: 11pt
      height: 100%
      padding-top: 2%

      button
        background: transparent
        color: #fff
        width: 70%

.flecha-down
  position: absolute
  width: 100%
  text-align: center
  font-size: 10em
  bottom: 20%
  .svg
    background: url('../../assets/imagenes/flecha.svg')
    background-size: auto
    background-position: 50% 100%
    background-repeat: no-repeat
    height: 50px
    padding: 0

  .up
    transform: rotate(180deg);
