<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse subcontainer-menu">
    <ul class="nav navbar-nav col-lg-4">
      <li class="active">
        <a href="#" [scrollTo]="'#arandano'" [scrollDuration]="1000" [scrollOffset]="-10">Arandanos</a>
      </li>
      <li>
        <a href="#" [scrollTo]="'#frambueza'" [scrollOffset]="-50">Frambuezas <i class="fa fa-chevron-down"></i>

        </a>
      </li>
      <li>
        <a href="#" [scrollTo]="'#aguaymanto'" [scrollOffset]="-50">Aguaymanto</a>
      </li>
    </ul>
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header col-lg-4">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="title">
        <a class="navbar-brand"  class="">
          <div class="berrygood"></div>
        </a>
      </div>
    </div>
    <ul class="nav navbar-nav col-lg-4">
        <li class="active">
          <a href="#" [scrollTo]="'#arandano'" [scrollDuration]="1000" [scrollOffset]="-10">Arandanos</a>
        </li>
        <li>
          <a href="#" [scrollTo]="'#frambueza'" [scrollOffset]="-50">Frambuezas <i class="fa fa-chevron-down"></i>

          </a>
        </li>
        <li>
          <a href="#" [scrollTo]="'#aguaymanto'" [scrollOffset]="-50">Aguaymanto</a>
        </li>
      </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<section #top class="login-page">
  <div class="col-lg-12 login">
    <div class="col-lg-8"></div>
    <div class="col-lg-4 inicio-sesion">
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" class="form-control">
      </div>
    </div>
    <div class="flecha-down">
      <a [scrollTo]="'#arandano'">
          <div class="svg"></div>
      </a>
    </div>
  </div>
</section>
<section class="arandanos-page" id="arandano">
  <div class="col-lg-12 arandano">
      <div class="col-lg-8"></div>
      <div class="col-lg-4 arandano-texto" >
        <div class="col-lg-8">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nemo reiciendis adipisci delectus vero quis cumque
                recusandae eligendi nostrum amet totam placeat,
                necessitatibus quod dignissimos alias impedit exercitationem,
                itaque, sed modi.
                Lorem ipsum dolor sit,
                amet consectetur adipisicing elit.
                Consectetur,
                dolore repudiandae fugiat quaerat,
                ut maiores asperiores in sint nihil
                quas error ab nulla corporis quia est
                nesciunt impedit ducimus iusto.
              </p>
              <button class="btn btn-default">COMPRAR</button>
            </div>
        <div class="col-lg-4"></div>
      </div>
      <div class="flecha-down">
        <a [scrollTo]="'#frambueza'">
            <div class="svg"></div>
        </a>
      </div>
  </div>
</section>
<section class="frambuesas-page" id="frambueza" #frambueza>
    <div class="col-lg-12 frambuesa" >
        <div class="col-lg-8"></div>
        <div class="col-lg-4 frambuesa-texto">
          <div class="col-lg-8">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nemo reiciendis adipisci delectus vero quis cumque
                  recusandae eligendi nostrum amet totam placeat,
                  necessitatibus quod dignissimos alias impedit exercitationem,
                  itaque, sed modi.
                  Lorem ipsum dolor sit,
                  amet consectetur adipisicing elit.
                  Consectetur,
                  dolore repudiandae fugiat quaerat,
                  ut maiores asperiores in sint nihil
                  quas error ab nulla corporis quia est
                  nesciunt impedit ducimus iusto.
                </p>
                <button class="btn btn-default">COMPRAR</button>
              </div>
          <div class="col-lg-4"></div>
        </div>
        <div class="flecha-down">
          <a [scrollTo]="'#aguaymanto'">
              <div class="svg"></div>
          </a>
        </div>
    </div>
</section>
<section class="aguaymanto-page" id="aguaymanto" #aguaymanto>
    <div class="col-lg-12 aguaymanto" >
        <div class="col-lg-8"></div>
        <div class="col-lg-4 aguaymanto-texto">
          <div class="col-lg-8">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nemo reiciendis adipisci delectus vero quis cumque
                  recusandae eligendi nostrum amet totam placeat,
                  necessitatibus quod dignissimos alias impedit exercitationem,
                  itaque, sed modi.
                  Lorem ipsum dolor sit,
                  amet consectetur adipisicing elit.
                  Consectetur,
                  dolore repudiandae fugiat quaerat,
                  ut maiores asperiores in sint nihil
                  quas error ab nulla corporis quia est
                  nesciunt impedit ducimus iusto.
                </p>
                <button class="btn btn-default">COMPRAR</button>
              </div>
          <div class="col-lg-4"></div>
        </div>
        <div class="flecha-down">
          <a (click)="scrollToTop(top)">
              <div class="svg up"></div>
          </a>
        </div>
    </div>
</section>
