.arandano
  background: url('../../assets/imagenes/1.png')
  height: 650px
  background-size: cover
  background-position: 50% 100%
  background-repeat: no-repeat
  padding: 0

  .arandano-texto
    background: rgba(58, 52, 107, 0.9)
    color: #ffffff
    font-size: 11pt
    height: 100%
    padding-top: 2%

    button
      background: transparent
      color: #fff
      width: 70%

.frambuesa
  background: url('../../assets/imagenes/2.png')
  height: 650px
  background-size: cover
  background-position: 50% 100%
  background-repeat: no-repeat
  padding: 0

  .frambuesa-texto
    background: rgba(255, 55, 96, 0.9)
    color: #ffffff
    font-size: 11pt
    height: 100%
    padding-top: 2%

    button
      background: transparent
      color: #fff
      width: 70%

.aguaymanto
  background: url('../../assets/imagenes/3.png')
  height: 650px
  background-size: cover
  background-position: 50% 100%
  background-repeat: no-repeat
  padding: 0

  .aguaymanto-texto
    background: rgba(255, 167, 0, 0.9)
    color: #ffffff
    font-size: 11pt
    height: 100%
    padding-top: 2%

    button
      background: transparent
      color: #fff
      width: 70%
